.navbar{
    color: #47454d;
}

img{
    width: 30px;
    height: 30px;
}

.searchButton{
    height: 39px;
    background: #011936;
    border-radius: 5px;
    border: transparent;
}

.nav-item:hover{
    background-color: rgb(237, 245, 229);
    border-radius: 12px;
}

#group{
    margin-left: 0px;
}

.side-nav{
	height:100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(206, 189, 189);
	opacity: 0.8;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}
.side-nav a:hover{
	color: #fff;
}
.side-nav .btn-close{
	position: absolute;
	top: 0;
	right: 22px;
	font-size: 36px;
	margin-left: 50px;
}

/* .side-nav a:hover{
	color: #fff;
} */
.side-nav .btn-close{
	position: absolute;
	top: 0;
	right: 22px;
	font-size: 36px;
    margin-left: 50px;
    color: #fff;
}


@media(max-width: 1415px) {
    .nav{       
        display: none;
        list-style: none;
    }
    .searchBox{
        width: 80%; 
    }
    .nav-link{
        color: #fff;
    }
}
@media(min-width: 1415px){
    .open-slide{
        display: none;
    }
    .searchBox{
        width: 60%; 
    }
}
