.songText{

    width: calc(200px + 60%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: aliceblue;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    padding-top: 10px;
}

.word{
    display: inline-block;
}